@mixin actionButtons($border, $color, $bgColor, $borderRad, $height, $width) {
  border: $border;
  color: $color;
  background-color: $bgColor;
  border-radius: $borderRad;
  height: $height;
  width: $width;
}
