//Primary colors

$primaryGrey: #5e5e5e;
$primaryRed: #ff0000;
$primaryLightGreenBlue: #03c4c7;
$primaryDarkGrey: #1f2937;
$primaryDarkBlack: #09080d;
$primiaryRedRibon:#ef0d33;
$primaryPaleSky:#6b7280;
$primaryWoodSmoke:#111517;

//Secondary colors

$lightGrey: #707070;
$lighterGrey: #d5d5d5;
$secondaryWhite: #ffffff;
$secondaryBorderGrey: #c4c8ce;
$slideContentTabBorder: #978c8a;
$secondaryBackgroundWhite:#fafafa;
