//Primary colors

$primaryGrey: #5e5e5e;
$primaryRed: #ff0000;
$primaryLightGreenBlue: #03c4c7;
$primaryDarkGrey: #1f2937;
$primaryDarkBlack: #09080d;
$primaryLightGreenBlueActive: #03989b;
$primiaryRedRibon: #ef0d33;
$primaryPaleSky: #6b7280;
$primaryWoodSmoke: #111517;

$primaryBlue: #173d7a;

//Secondary colors

$lightGrey: #707070;
$secondaryGrey: #91959b;
$lighterGrey: #d5d5d5;
$secondaryWhite: #ffffff;
$secondaryBorderGrey: #c4c8ce;
$slideContentTabBorder: #978c8a;
$secondaryBackgroundWhite: #fafafa;
$secondaryBackgroundGrey: #f1f1f1;
