@import '../../../styles/variables';

.mobile__translate__container {
  margin-top: 2.5rem;

  &--item {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
    text-align: left;
    color: $secondaryGrey;
    padding: 0 1.2rem 0 0;
    cursor: pointer;
  }

  & .selected {
    color: $secondaryWhite;
  }
}

@media screen and (max-width: 700px) {
  .mobile__translate__container {
    margin-left: 1rem;
  }
}
