@import '../../../styles/variables';

.ourWorks__container {
  width: 100%;
  background-image: url(./../../../assets/images/our_works_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 11rem;
  display: flex;
  padding: 0.2rem 0 1.9rem 0;
  object-fit: fit-content;
}

@media screen and (max-width: 1550px) {
  .ourWorks__container {
    padding: 0.2rem 0 1.5rem 0;
  }
}

@media screen and (max-width: 768px) {
  .ourWorks__container {
    flex-direction: column;
  }
}
