%Absolute-circles{
    position:absolute;
    width: 20px;
    height: 20px;
    margin: 0 0 78px;
    border: solid 2px #03989b;
    background-color: #363245;
    left: -9px;
    border-radius: 50%;
}

.steps__list__mid{
    position: relative;
    padding: 6.6rem 0;
    &__circles{
       
        
        &--item1{
            @extend %Absolute-circles;
            top: 6rem;
        }
        &--item2{
            @extend %Absolute-circles;
            top: 14.8rem;
        }
        &--item3{
            @extend %Absolute-circles;
            top: 36rem;
        }
        &--item4{
            @extend %Absolute-circles;
            top: 46rem;
        }
        &--item5{
            @extend %Absolute-circles;
            top: 66rem;
        }
        &--item6{
            @extend %Absolute-circles;
            top: 76rem;
        }
        &--item7{
            @extend %Absolute-circles;
            top: 96rem;
        }
    }
    &--line{
    //    position: absolute;
       width: 0;
       height: 907.3px;
    //    margin: 255.7px 0 203px;
       border: dashed 1px #707070;     
    }
}